.form {
    text-align: center;
}

.form input {
    margin-right: .3rem;
    outline: none;
}

.form-button {
    display: block;
    margin: 1rem auto;
}

table {
    border-collapse: collapse;
    color: #363537;
    margin: 0 auto;
    width: 60vw;
}

th {
    background-color: #f0f0f0;
    border: none;
    line-height: 2;
    padding: .5rem 0 .5rem 1rem; 
}

td {
    padding: 0 .5rem;
    text-align: center;
}

.loading {
    text-align: center;
}