<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PureJS</title>
  <script type="text/html" id="home">
    <h1>Start <%= where %>!</h1>
  </script>
  <script type="text/html" id="example1">
    <h1><%= title %></h1>
    <% for (let i of title) { %>
      <span><%= i %></span>
    <% } %>
  </script>
  <script type="text/html" id="example2">
    <h1><%= title %></h1>
    <button class="my-button">Click me <%= counter %></button>
  </script>
  <script type="text/html" id="404">
    <h1>404 Not found</h1>
  </script>
  <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
  <nav>
    <a href="#">home</a>
    <a href="#/ex1">example 1</a>
    <a href="#/ex2">example 2</a>
  </nav>
  <form id="form" class="form">
    <div>
        <label for="name">Name</label>
        <input id="name"/>
    </div>
    <div>
        <label for="password">Passwordl</label>
        <input id="password">
    </div>
  </form>
  <div id="app"></div>
  <script src="./app.js"></script>
</body>
</html>