body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid grey;
    border-radius: 6px;
    margin: 0 auto;
    padding: .5rem 0;
    width: 600px;
}

.container h1 {
    text-align: center;
}

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.form button {
    background-color: lightgrey;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 1rem;
    padding: .3rem .5rem;
}

.form button:hover {
    background-color: rgb(161, 161, 161);
}

.form-input input {
    border: 1px solid #c2c3c4;
    border-radius: 3px;
    font-size: 1rem;
    outline: none;
    padding: .3rem .5rem;
    width: 250px;
}

.form-input.error input {
	border-color: #f55746;
}

.form-input.success input {
	border-color: #2ecc71;
}

.form-input p {
    visibility: hidden;
}

.form-input.error p {
    color: #f55746;
    font-size: .8rem;
    text-align: center;
    visibility: visible;
}

