body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.hidden {
    visibility: hidden;
}

.container {
    border: 1px solid lightgrey;
    border-radius: 6px;
    margin: 1rem auto;
    padding: .5rem 0;
    width: 600px;
}

.container h1 {
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 55%;
}

.form input { 
    margin-top: 1rem;
}

.form__input {
    border: 1px solid #c2c3c4;
    border-radius: 3px;
    font-size: 1rem;
    outline: none;
    padding: .3rem .5rem;
    width: 250px;
}

.form-image__preview {
    border: 1px solid #c2c3c4;
    border-radius: 3px;
    color: lightgrey;
    margin-left: 3.5rem;
    margin-top: 1rem;
    padding: 1rem .5rem;
    text-align: center;
    width: 250px;
}

.form-image__preview__img {
    display: none;
    width: 100%;
}

.form button {
    background-color: lightgrey;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: 1rem auto;
    padding: .3rem 1rem;
}

.form button:hover {
    background-color: rgb(161, 161, 161);
}

.error input {
	border-color: #f55746;
}

.error span {
    color: #f55746;
    display: block;
    font-size: .8rem;
    margin-top: .2rem;
    text-align: center;
    visibility: visible;
}

